@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}
.main{
    display: flex;
    margin: auto;
}
.sec1 img{
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sec2{
    width: 300px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#p1{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin: 10% 10% 7% 10%;
}
#p2{
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin: 0 10% 7% 10%;
    font-size: 36px;
    color: hsl(212, 21%, 14%);
}
#p3{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin: 0 10% 7% 10%;
}
#p4{
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin: 0 0 7% 10%;
    font-size: 36px;
}
#p5{
    text-decoration: line-through;
    font-family: "Fraunces", serif;
    color: hsl(228, 12%, 48%);
    margin: 15px;
}
.price{
    display: flex;
}
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 0 10% 10% 10%;
    background-color: hsl(158, 36%, 37%);
    width: 80%;
    height: 10%;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(29, 63, 51);
}
.hidden{
    display: none;
}
@media only screen and (max-width: 375px) {
    .main{
        display: block;
    }
    .sec1{
        display: none;
    }
    .hidden{
        display: block;
    }
    .hidden img{
        width: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sec2{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #p1{
        padding-top: 10%;
        margin-top: -5px;
    }
}
